body {
background-color: coral;
}
.stulpelis{display: inline-block}
.melyna {height: 100px;width: 100px; background-color: blue}
.balta {height: 100px;width: 100px; background-color: white}
.zalia {height: 100px;width: 100px; background-color: green}
.ruda {height: 100px;width: 100px; background-color: saddlebrown}
.raudona {height: 100px;width: 100px; background-color: red}
.apibudinimas p  li {
    display: inline-block;
}

