<!DOCTYPE html>
<html ng-app="manoApsas">
<head>
    <meta charset="UTF-8">
    <title>Puslapis</title>
    <base href="/">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/meniu.css">
    <link rel="stylesheet" href="/css/sachmatuLenta.css">
    <link rel="stylesheet" href="/css/robotovaldymas.css">
    <link rel="stylesheet" href="/css/animacijos.css">
</head>
<body>
<nav ng-controller="menuController as mc">
    <ul>
        <li ng-repeat="item in mc.meniu">
            <!--ng-if="item.submeniu==''" ng-hide="kintamasis2"-->
            <a href="{{item.url}}">{{item.pavadinimas}}</a>
        </li>
    </ul>
</nav>
<ng-view></ng-view>
<footer>
    <hr/>
    <center>
        Visos teises saugomos 2018
    </center>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="/js/AngularJS/manoApsas.js"></script>

<script src="/js/JQuery%20biblioteka.js"></script>
<script src="/js/valdymas.js"></script>
</body>
</html>